@-moz-document domain("5e.tools") {
/**
 * 5e Tools Tweaks
 *
 * Updated: 2026-02-02
 */

/**
 * MARK: Typography
 */

body,
.cls-tbl__disp-name, /* Class table title */
.rd__h, /* "Heading" class */
.stats, /* Usually main page content */
.cls-side__name, /* Class page sidebar stats panel */
.cls-nav, /* Class page sidebar toc nav */
h1, h2, h3, h4, h5, h6 {
	font-family: "VC Honey";
}

.nav, /* Main nav menu */
.home__lbl-page, /* Homepage nav cards */
.list, /* Filterable lists */
.cls-tbl, /* Class features overview table */
.brew-list, /* Homebrew table */
.ui-ctx__wrp, /* Right-click menus? */
.ui-modal__inner, /* Filter modals */
.toast__wrp-content, /* Toast notifications */
.omni__output, /* Search results */
.window-title, /* Popover/hover window titles */
.stats-tbl-ability-scores__lbl-abv, /* Creature stats table - stat abbreviation */
.rd__image-credit /* Image captions */ {
	font-family: "Sofia Sans";
}

.list span[class*="source"], /* Filterable list > sources column */
.fltr__mini-view, /* Filterable list > chip buttons */
.stats__th-name, /* Stats panel, e.g. spells page > spell description */
.rd__title-link, /* Usually source book tooltip/link */
.fltr__container-pills, /* Filter modal > buttons */
.ui-sel2__wrp-options, /* Interactive select dropdown */
.ve-btn, /* Random "buttons" (anchors styled to look like buttons) */
.stats-tbl-ability-scores__lbl-score, /* Creature stats table - numbers */
button, input, select, textarea {
	font-family: "Lexend";
}

/* Creature stats table - all content except for "mod" and "save" 'headings' */
.stats-tbl-ability-scores__lbl-score:where(
	.stats__disp-as-score--physical, 
	.stats__disp-as-bonus--physical,
	.stats__disp-as-score--mental, 
	.stats__disp-as-bonus--mental
) {
	font-family: "0xProto Nerd Font";
}

/* Insane that THIS is how I need to override some things... */
@layer vetools {
	.code {
		font-family: "0xProto Nerd Font" !important;
	}
}

.stats__sect-header-inner {
	font-weight: 500;
}

.stats__th-name, /* Stats panel, e.g. spells page > spell description */
.rd__title-link, /* Usually source book tooltip/link */
.stats-tbl-ability-scores__lbl-abv .small-caps /* Creature stats table - stat abbreviation */
{
	font-variant: normal;
}

/**
 * MARK: Font sizes
 */

/**
 * Reference type-scale
 *
 * h1 - 1.8em
 * h2 - 1.6em
 * h3 - 1.42em
 * h4 - 1.27em
 * h5 - 1.13em
 * h6 - 1em
 */

/* Usually main page content */
.stats {
	font-size: 18px;

	.rd__h--0, .rd__h--0--inset { font-size: 1.42em }
	.rd__h--1, .rd__h--1--inset { font-size: 1.27em }
	.rd__h--2, .rd__h--2--inset { font-size: 1.13em }
	.rd__h--3, .rd__h--3--inset { font-size: 1em }
}
/* Stat blocks when it's a "sidebar" */
.wrp-stats-table {
	.stats { font-size: 16px; }
}
/* Stat blocks when it's a preview in a table */
.ui-list__wrp-preview {
	.stats { font-size: 14px; }
}

/* Stats panel main heading */
.stats__th-name {
	font-size: 1.42em; /* h3 */
	/*line-height: 1.27;*/
	line-height: 1;

	.stats__h-source-abbreviation {
		font-size: 14px;
	}
}

/* Class page sidebar */
#statsprof {
	.cls__stats, 
	.cls-side__section {
		font-size: 14px;
	}

	.cls-side__name { font-size: 1.42em; }
	.cls-side__section-head { font-size: 1.27em; }
}

.list, /* Filterable lists */
.cls-tbl /* Class features overview table */ {
	font-size: 12px;
}

/* Filterable list inline preview */
.accordion__wrp-preview {
	.stats { font-size: 14px; }
	.stats__th-name { font-size: 1.27em; }
}

/* Popover windows */
.hwin {
	/* Stat content I guess */
	.stats { font-size: 16px; }
}

/* Creature stats table - essentially all table content */
.stats-tbl-ability-scores__lbl-abv,
.stats-tbl-ability-scores__lbl-score {
	font-size: 0.85em;
}

.help {
	text-underline-offset: 2px;
}

/***/


/**
 * MARK: Layout
 */

/* Bootstrap layout container */
.container {
	@media (width < 1200px) { width: 100%; }
}

.col-md-3:has(
	#statsprof, /* Class sidebar */
	#sticky-nav /* Document outline navigation */
) {
	padding-inline: 0;
}

.col-md-9:has(
	#subclasstabs /* Class > subclass filter chips */
) {
	@media (width < 991px) { padding-inline: 0; }
}

/* Class sidebar */
#statsprof {
	padding-top: 1px;
}

/* Document outline navigation */
#sticky-nav {
	padding-left: 0;

	.cls-nav__item { margin-bottom: 0.25rem; }
}

/* Usually main page content */
.stats {
	/* Section heading */
	.rd__h { margin-top: 0.5em; }
	/* Inset content */
	.rd__b-inset { margin: 16px; }
	/* Inset content heading */
	.rd__b-inset .rd__h { margin-top: 0; }
}

/* Stats panel, e.g. spells page > spell description */
.stats__th-name { padding-top: 1rem; }

/* Race sidebar title */
.cls-side__name { padding-top: 0.5rem; }

/* Anchor indicator */
.cls-main__linked-titles > td > * > .rd__h .entry-title-inner:hover::before {
	content: "🔗";
	width: 20px;
	height: 20px;
	top: 6px;
	right: 22px;
	font-size: 16px
}

.cls__stats,
.wrp-stats-table {
	td, th { padding-left: 1rem; padding-right: 1rem; }
	.stats__th-name { padding-left: 1rem !important; }
}

/* The buttons underneath a "sidebar" stat content, e.g. Reference > Actions */
.wrp-stats-table + .ve-flex-vh-center {
	flex-wrap: wrap;

	> * {
		margin-bottom: 0.5rem;
	}
}

/* Improve button-group button hover/active/focus effects */
.ve-btn-group .ve-btn {
	&:hover, &:active, &:focus {
		z-index: 1;
	}
}

/* Popover windows */
/*.hwin {}*/

/* Creature stats table - spacers */
.stats-tbl-ability-scores__lbl-spacer {
	/*display: none;*/
	padding: 0 5px !important;
}

/* Toast notifications */
.toast__container {
	height: auto;
	min-height: 200px;
}

/**
 * MARK: Heavy-duty overrides
 */

/* Insane that THIS is how I need to override some things... */
@layer vetools {
	/* Class > subclass filter chips */
	#subclasstabs {
		margin-top: 0.5rem;
		margin-bottom: 8px !important;
		gap: 10px;

		> .m-1, .mr-2 { margin: 0 !important; }

		.ve-flex-wrap {
			gap: 5px;

			> .m-1 { margin: 0 !important; }
		}

		/* The first subclass toggle button */
		/*> div:nth-child(2) > button:first-child {
			margin-left: 0 !important;
		}*/

		@media (width > 991px) { margin-top: -1px !important; }
	}

	.rd__hr--section {
		margin: 1rem 0;
	}

	.wrp-stats-table {
		.stats__th-name { padding-left: 1rem !important; }
	}
	
	/* "Update All" button on homebrew manage page */
	.ve-btn.w-70p {
		width: unset !important;
	}
}
}