@-moz-document domain("instagram.com") {
/**
 * Instagram Tweaks
 *
 * Updated: 2026-02-21
 */

/* Bigger reels */
section > main > div[class]:not([data-visualcompletion]) {
	box-sizing: border-box;
	width: 100%;
	max-width: 1084px;
	max-width: unset;
	padding: 20px 20px 0 92px;
	margin: 0 auto;
	
	& > div:first-child {
		max-width: 100% !important;
	}
	& > div:nth-child(2) {
		margin-right: 0 !important;
	}
}

/* Remove reel linear gradient */
.x1ej3kyw {
	background-image: none;
}

/* Explore page */
.x7x3xai.x7x3xai {
	@media (min-width: 736px) { margin-inline-end: 0 }
}

}