@-moz-document domain("nexusmods.com") {
/**
 * NexusMods Tweaks
 *
 * Last updated: 2026-01-27
 */

/* Improve pagination display on mod browse pages. */
nav[aria-label="Pagination navigation"] {
	justify-content: center;
	
	& > :nth-child(2) {
		display: none;
	}
	
	button[title="Previous page"],
	button[title="Next page"] {
		border-radius: 4px;
		outline: 1px solid;
		padding-inline: 4px;
		
		&:focus {
			outline-offset: 0;
		}
	}
}

/* Wider page when browsing mods. */
.next-container,
.next-container-fluid {
	max-width: 100%;
}

/* Bigger mod cards, thus, bigger mod card images. */
.mods-grid {
	grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr)) !important;
	gap: 12px;
}

}