@-moz-document domain("twitch.tv") {
/**
 * Twitch Tweaks
 *
 * Updated: 2026-01-26
 */

#bttv-picture-in-picture {
	display: none !important;
}

.chat-input>div:last-child .chat-input__buttons-container {
	flex-grow: 0;
	flex-shrink: 1;
}

.video-player video {
	height: auto;
}

/* Horizontally center video in Theatre Mode */
.video-ref:has(> video) { display: flex; }
.video-ref > video { position: relative; }

}