@-moz-document domain("wikipedia.org") {
/**
 * Wikipedia Tweaks
 *
 * Updated: 2025-08-01
 */

body {
	--background-color-base: #fdf6e3;
	--background-color-neutral-subtle: #eee8d5;
	
	font-family: 'VC Honey', 'Noto Serif', serif;
	font-size: 20px;
}

.infobox {
	background-color: #faf3de;
}


}