@-moz-document domain("youtube.com") {
/**
 * YouTube Tweaks
 *
 * Updated: 2026-01-26
 */

@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

/* Enforce preferred caption typeface. */
span.ytp-caption-segment {
	/* background: rgba(8, 8, 8, 0.35) !important; */
	background: none !important;

	color: rgba(255, 255, 255, 0.75) !important;
	font-family: 'Castoro', serif !important;
	font-weight: 600;
	letter-spacing: 0.05ch;
	text-shadow:
		 0.04em  0.04em 0 #000,
		-0.04em  0.04em 0 #000,
		-0.04em -0.04em 0 #000,
		 0.04em -0.04em 0 #000;

	filter: drop-shadow(0px 0px 0.2em black);

	/* opacity: 0.65; */
}

/* Prevent captions from being moved around. */
.caption-window {
	background: none !important;
	pointer-events: none !important;
	overflow: initial !important;
}

/* Tweaks to Userstyle - https://userstyles.world/style/24215 */
/* Play button */
.ytp-delhi-modern .ytp-chrome-controls .ytp-play-button{ top: -4px; }

}